<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('./include/head.ejs') %>
    <title><%=title%></title>
</head>
<body>
    <div class="error">
        <h1><%=heading%></h1>
        <p><%=code%></p>
        <p><%=message%></p>
    </div>
    <a href="/" class="btn btn-sm btn-primary">Back</a>
</body>
</html>
